* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url("../bkg/home.png"); */
  background-image: url("../bkg/uebermich.png");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: darken;
  background-position: bottom center;
  background-size: auto 110%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
