<template>
    <div class="cf-widget">

        <transition name="slide">
            <div class="cf-container clearfix" v-show="showWidget">
                <div class="cf-scroller">
                    <div class="header">
                        <h2>Kontakanfrage</h2>
                        <p>Corned beef jerky pork belly shoulder ground round pig pancetta bacon prosciutto. Buffalo.</p>
                    </div>
                    <div class="content">

                        <form class="form" action="" method="POST" @submit.prevent="submit" id="form">

                            <input type="hidden" name="action" value="contact-form/send">

                            <div class="field">
                                <input
                                        class="field__input"
                                        type="text"
                                        name="name"
                                        placeholder="Name"
                                        v-model.lazy.trim="form.input.name"
                                        v-validate="'required'"
                                        data-vv-as="Name"
                                        :class="{'input': true, 'is-danger': errors.has('name') }"
                                        autofocus>
                                <p
                                        v-show="errors.has('name')"
                                        class="field__error">
                                    {{ errors.first('name') }}
                                </p>
                            </div>

                            <div class="field">
                                <input
                                        class="field__input"
                                        type="text"
                                        name="email"
                                        placeholder="E-Mail"
                                        v-model.lazy.trim="form.input.email"
                                        v-validate="'required|email'"
                                        data-vv-as="E-Mail"
                                        :class="{'input': true, 'is-danger': errors.has('email') }">
                                <p
                                        class="field__error"
                                        v-show="errors.has('email')">
                                    {{ errors.first('email') }}
                                </p>
                            </div>

                            <div class="field">
            <textarea
                    class="field__input"
                    name="message"
                    placeholder="Nachricht"
                    rows="9"
                    v-model.lazy.trim="form.input.message"
                    v-validate="'required|max:1000'"
                    data-vv-as="Nachricht"
            >
            </textarea>
                                <p
                                        class="field__error"
                                        v-show="errors.has('message')">
                                    {{ errors.first('message') }}
                                </p>
                            </div>

                            <div class="field">
                                <input
                                        class="field__input checkbox"
                                        v-model="form.input.consent"
                                        id="consent"
                                        name="consent"
                                        type="checkbox"
                                        data-vv-as="Einwilligung"
                                        v-validate="'required'">
                                <label for="consent" class="checkbox-label">
                                    <strong>Einwilligung zur Datennutzung</strong><br/>Ja, ich habe die <a href="#!">Datenschutzerklärung</a> zur Kenntnis genommen.
                                </label>
                                <p
                                        class="field__error"
                                        v-show="errors.has('consent')">
                                    {{ errors.first('consent') }}
                                </p>
                            </div>

                            <div class="success__container" v-show="formSent">
                                <div class="success__message">
                                    <h3>
                                        <svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22 0L0 14.6552L10.1538 16.3793M22 0L19.4615 24.1379L14.3846 19.906M22 0L10.1538 16.3793M10.1538 16.3793V25L14.3846 19.906M10.1538 16.3793L14.3846 19.906" transform="translate(1 1)" stroke="#333333" stroke-linejoin="round"/>
                                        </svg>
                                        Nachricht versendet!
                                    </h3>
                                    <p>
                                        Vielen Dank für Ihre Nachricht!<br>
                                        Ich werde mich in den nächsten Tagen bei Ihnen zurückmelden.
                                    </p>
                                    <p>Bleiben Sie auf dem Laufenden!</p>
                                    <span class="logo">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 64 64">
                    <g transform="translate(0, 0)">
                      <path fill="#656565" d="M61.3,0H2.7C1.2,0,0,1.2,0,2.7v58.7C0,62.8,1.2,64,2.7,64H34V40h-8V30h8v-8 c0-8.3,5.2-12.3,12.6-12.3c3.5,0,6.6,0.3,7.5,0.4v8.6l-5.1,0c-4,0-4.9,1.9-4.9,4.7V30h10l-2,10h-8l0.2,24h17.2 c1.5,0,2.7-1.2,2.7-2.7V2.7C64,1.2,62.8,0,61.3,0z"></path>
                    </g>
                  </svg>
                </span>
                                    <span class="logo">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 64 64">
                    <g transform="translate(0, 0)">
                      <path fill="#656565"
                            d="M32,5.766c8.544,0,9.556,0.033,12.931,0.187c3.642,0.166,7.021,0.895,9.621,3.496 c2.6,2.6,3.329,5.979,3.496,9.621c0.154,3.374,0.187,4.386,0.187,12.931s-0.033,9.556-0.187,12.931 c-0.166,3.642-0.895,7.021-3.496,9.621c-2.6,2.6-5.98,3.329-9.621,3.496c-3.374,0.154-4.386,0.187-12.931,0.187 s-9.557-0.033-12.931-0.187c-3.642-0.166-7.021-0.895-9.621-3.496c-2.6-2.6-3.329-5.979-3.496-9.621 C5.798,41.556,5.766,40.544,5.766,32s0.033-9.556,0.187-12.931c0.166-3.642,0.895-7.021,3.496-9.621 c2.6-2.6,5.979-3.329,9.621-3.496C22.444,5.798,23.456,5.766,32,5.766 M32,0c-8.691,0-9.78,0.037-13.194,0.193 c-5.2,0.237-9.768,1.511-13.436,5.178C1.705,9.037,0.43,13.604,0.193,18.806C0.037,22.22,0,23.309,0,32 c0,8.691,0.037,9.78,0.193,13.194c0.237,5.2,1.511,9.768,5.178,13.436c3.666,3.666,8.234,4.941,13.436,5.178 C22.22,63.963,23.309,64,32,64s9.78-0.037,13.194-0.193c5.199-0.237,9.768-1.511,13.436-5.178c3.666-3.666,4.941-8.234,5.178-13.436 C63.963,41.78,64,40.691,64,32s-0.037-9.78-0.193-13.194c-0.237-5.2-1.511-9.768-5.178-13.436 c-3.666-3.666-8.234-4.941-13.436-5.178C41.78,0.037,40.691,0,32,0L32,0z"></path> <path
                            data-color="color-2" fill="#656565" d="M32,15.568c-9.075,0-16.432,7.357-16.432,16.432c0,9.075,7.357,16.432,16.432,16.432 S48.432,41.075,48.432,32C48.432,22.925,41.075,15.568,32,15.568z M32,42.667c-5.891,0-10.667-4.776-10.667-10.667 c0-5.891,4.776-10.667,10.667-10.667c5.891,0,10.667,4.776,10.667,10.667C42.667,37.891,37.891,42.667,32,42.667z"></path> <circle data-color="color-2" fill="#656565" cx="49.082" cy="14.918" r="3.84"></circle>
                    </g>
                  </svg>
                </span>
                                </div>
                            </div>

                        </form>

                    </div>
                    <button
                            class="cf-btn cf-btn--square cf-btn--square--send"
                            type="submit"
                            name="button"
                            form="form"
                            v-show="!formSent"
                            :disabled="formSubmitted">
                        Absenden
                    </button>
                    <button
                            class="cf-btn cf-btn--square cf-btn--square--close"
                            name="button"
                            v-show="formSent"
                            @click="reset">
                        Neue Nachricht
                    </button>
                </div>
            </div>
        </transition>
        <button
                type="button"
                name="button"
                class="cf-btn cf-btn--round"
                :class="{'cf-btn--open': showWidget}"
                v-on:click="toggle"
        >
            <svg v-show="!showWidget" width="30" height="34" viewBox="0 0 30 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28 0L0 18.7586L12.9231 20.9655M28 0L24.7692 30.8966L18.3077 25.4796M28 0L12.9231 20.9655M12.9231 20.9655V32L18.3077 25.4796M12.9231 20.9655L18.3077 25.4796" transform="translate(1 1)" stroke="#FFF0F0" stroke-width="2" stroke-linejoin="round"/>
            </svg>
            <svg v-show="showWidget" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292918C0.683417 -0.0976064 1.31658 -0.0976064 1.70711 0.292918L14.435 13.0209L27.1629 0.292872C27.5534 -0.0976519 28.1865 -0.0976102 28.577 0.292914C28.9676 0.683438 28.9676 1.31665 28.5771 1.70717L15.8492 14.4351L28.5771 27.163C28.9676 27.5535 28.9676 28.1866 28.5771 28.5772C28.1866 28.9677 27.5534 28.9677 27.1629 28.5772L14.435 15.8493L1.70706 28.5772C1.31654 28.9678 0.683372 28.9678 0.292848 28.5772C-0.0976764 28.1867 -0.0976764 27.5535 0.292848 27.163L13.0208 14.4351L0.292893 1.70713C-0.0976311 1.31661 -0.0976311 0.683442 0.292893 0.292918Z" transform="translate(-0.414185 20) rotate(-45)" fill="white"/>
            </svg>


        </button>

        <!--<button-->
        <!--type="button"-->
        <!--name="button"-->
        <!--class="btn btn__round btn__round&#45;&#45;close"-->
        <!--v-on:click="toggle"-->
        <!--v-show="showWidget">-->
        <!--<svg-->
        <!--width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">-->
        <!--<path d="M12.5 12.5L25 0M12.5 12.5L25 25M12.5 12.5L0 25M12.5 12.5L0 0" transform="translate(1 1)" stroke="white" stroke-width="2" stroke-linecap="round"/>-->
        <!--</svg>-->
        <!--</button>-->

        <!-- <div class="banner">Cookie Meldung</div> -->

    </div>
</template>

<script>
    import axios from "axios";
    import Vue from "vue";
    import de from "vee-validate/dist/locale/de";
    import VeeValidate, {Validator} from "vee-validate";

    Validator.localize("de", de);
    Vue.use(VeeValidate, {
        events: "change|blur",
        classNames: {
            touched: "field__input--touched", // the control has been blurred
            untouched: "field__input--untouched", // the control hasn't been blurred
            valid: "field__input--valid", // model is valid
            invalid: "field__input--invalid", // model is invalid
            pristine: "field__input--pristine" // control has not been interacted with
            // dirty: "field__input--dirty" // control has been interacted with
        },
        classes: true
    });

    export default {
        name: "app",
        data() {
            return {
                showWidget: true,
                formSubmitted: false,
                formSent: false,
                buttonDisabled: true,
                form: {
                    input: {
                        name: "klara",
                        email: "klara@mail.com",
                        message: "hello"
                    }
                }
            };
        },
        created: function () {
            const token = document.head.querySelector('meta[name="csrf-token"]');

            if (token) {
                // window.
                axios.defaults.headers.common["X-CSRF-TOKEN"] = token.content;
            } else {
                console.error(
                    'CSRF token not found: Add it as <meta name="csrf-token" content="XXX"> to your <head>',
                    "\n",
                    "https://docs.craftcms.com/v3/changes-in-craft-3.html#csrf-token-params"
                );
            }

            let self = this;
            document.addEventListener("click", function (event) {
                // NEEDS SOME TWEAKING
                if (
                    self.showWidget &&
                    event.target !== self.$el.childNodes[0] &&
                    !self.$el.contains(event.target)
                ) {
                    self.showWidget = false;
                }
            });
        },
        methods: {
            toggle() {
                this.showWidget = !this.showWidget;
            },
            reset() {
                this.formSent = false;
                this.formSubmitted = false;
                this.form.input = {
                    name: "",
                    email: "",
                    message: ""
                };
                // nuke from github issue, but it doesn't work completely
                // classes don't get removed from validated fields..
                this.$validator.pause();
                this.$nextTick(() => {
                    this.$validator.errors.clear();
                    this.$validator.fields.items.forEach(field => field.reset());
                    this.$validator.fields.items.forEach(field =>
                        this.errors.remove(field)
                    );
                    this.$validator.resume();
                });
            },
            submit() {
                const self = this;
                this.$validator.validateAll().then(result => {
                    if (result) {
                        // form is valid, send data

                        this.formSent = true;
                        this.formSubmitted = true;
                        const data = {
                            action: "contact-form/send",
                            fromName: this.form.input.name,
                            fromEmail: this.form.input.email,
                            subject: "Anfrage über Kontaktformular",
                            message: this.form.input.message
                        };
                        axios
                            .post("/url", data)
                            .then(response => {
                                // server responded with non-error
                                self.formSent = true;
                            })
                            .catch(error => {
                                // server responded with error
                                alert("ERROORR");
                            });
                        alert("Form Submitted!");
                        return;
                    }
                    // form is invalid
                });
            }
        }
    };
</script>

<style lang="scss">
    $col-main: #800c13;
    $col-grey: #c4c4c4;
    $col-field-valid: #62c370;
    $col-field-invalid: #cc5057;
    $col-text-black: #333333;
    $col-text-main: #fff0f0;
    $col-button-dark: #656565;
    $ease-snappy: cubic-bezier(0.04, 0.97, 0, 1);
    $sm: 576px;

    .slide-enter-active, .slide-leave-active {
        transition: all .3s ease-in-out;
    }

    .slide-enter, .slide-leave-to {
        transform: translateY(10px);
        opacity: 0;
    }

    .cf-widget {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        font-family: sans-serif;
        color: $col-text-black;
        @media only screen and (min-width: $sm) {
            max-width: 360px;
            margin: 1.25rem;

        }
    }

    * {
        box-sizing: border-box;
        &:focus {
            outline-color: $col-grey;
        }
    }

    .cf-container {
        width: 100%;
        background: white;
        box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.1);
        position: relative;
        height: 75vh;
        @media only screen and (min-width: $sm) {
            height: calc(100vh - 2.75rem - 3.75rem - 1.25rem);
            max-height: 615px;
            margin: 0 0 1.5rem 0;
        }
    }

    .cf-scroller {
        height: 100%;
        overflow-y: scroll;
    }

    .clearfix {
        overflow: auto;
        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }

    .header {
        font-family: sans-serif;
        color: $col-text-main;
        background: radial-gradient(
                        25rem at 0% 0%,
                        rgba(255, 255, 255, 0.2552) 0%,
                        rgba(0, 0, 0, 0.2958) 100%
        ),
        $col-main;
        padding: 2rem 1.25rem 4.5rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        h2 {
            margin-bottom: 1rem;
        }
        p {
            line-height: 1.3;
        }
    }

    .content {
        /*position: absolute;*/
        /*bottom: 4.75rem;*/
        margin-top: -3rem;
        z-index: 50;
    }

    .form {
        margin: 0 1.25rem;
        padding: 1rem;
        background: #fafafa;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .field {
        padding-bottom: 0.5rem;
        input[type="text"],
        textarea {
            width: 100%;
            background: #ffffff;
            box-sizing: border-box;
            padding: 0.5rem;
            padding-right: 0;
            font-family: inherit;
            font-size: 1rem;
            &::placeholder {
                color: #505050;
            }
        }
        textarea {
            resize: none;
        }
        .checkbox {
            vertical-align: middle;
            &.checkbox.field__input--valid {
                outline: 1px solid $col-field-valid;
            }
            &.checkbox.field__input--invalid {
                outline: 1px solid $col-field-invalid;
            }
            &.checkbox.field__input--pristine {
                outline: none;
            }
        }
        .checkbox-label {
            font-size: 0.75rem;
            br {
                line-height: 150%;
            }
        }
        &__error {
            padding-top: 0.5rem;
            font-size: 0.625rem;
            color: $col-field-invalid;
        }
    }

    .field__input {
        border-color: #ededed;
        border-width: 1px;
        border-style: solid;
        &.field__input--touched {
            border-color: darken($col-grey, 10%);
        }
        &.field__input--valid {
            border-color: $col-field-valid;
        }
        &.field__input--invalid {
            border-color: $col-field-invalid;
        }
        &.field__input--untouched {
            border-color: #ededed;
        }
    }

    .success {
        &__container {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: lighten($col-grey, 20%);
        }
        &__message {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 1rem;
            svg {
                vertical-align: middle;
                transform: translateY(-7.5%);
            }
            p {
                margin: 2rem 0;
                line-height: 1.4;
            }
        }
    }

    .cf-btn {
        border: none;
        cursor: pointer;
        &.cf-btn--square {
            width: 50%;
            padding: 0.625rem 0;
            font-weight: bold;
            margin: 1.25rem;
            float: right;
            &.cf-btn--square--send {
                background-color: $col-main;
                color: $col-text-main;
                &:hover {
                    background-color: darken($col-main, 10%);
                }
            }
            &.cf-btn--square--close {
                background-color: $col-button-dark;
                color: lighten($col-grey, 25%);
                &:hover {
                    background-color: darken($col-button-dark, 10%);
                }
            }
        }
        &.cf-btn--round {
            outline: 0;
            transition: background-color .5s $ease-snappy, transform .5s $ease-snappy, border-radius .5s $ease-snappy;
            float: right;
            width: 3.75rem;
            height: 3.75rem;
            border-radius: 100%;
            background-color: $col-main;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

            &.cf-btn--open {
                background-color: $col-grey;
                transform: rotate(45deg);
                border-radius: 0 100% 100% 100%;
                display: none;
                @media only screen and (min-width: $sm) {
                    display: block;
                }
            }
        }
    }

    .cf-btn__round--plane {
        background-color: $col-main;
        &:hover {
            background-color: darken($col-main, 10%);
        }
        svg {
            // transform: translate(-12%, 2%);
        }
    }

    .cf-btn__round--close {
        background-color: $col-grey;
        &:hover {
            background-color: darken($col-grey, 10%);
        }
    }

    .logo {
        display: inline-block;
        transform: scale(0.85);
        border-radius: 5px;
        margin: -1rem 0.5rem 0;
    }

    // .banner {
    //   height: 71.5px;
    //   width: 100vw;
    //   position: fixed;
    //   bottom: 0;
    //   right: 0;
    //   background: rgba(0, 0, 0, 0.2);
    // }
</style>
